[report]
omit =
    */python?.?/*
    */site-packages/nose/*
    */test/*
    */pypy/*
    */nose/*
exclude_lines =
    pragma: no cover
    except Exception
    conn.close
    raise BrowserException
    object.__setattr__
    raise AttributeError
    object.__delattr__
    elif "darwin"
    return "mac"
    elif _sys.platform
    return "windows"
    except OSError as err
    raise err
    except NameError
    def _background_runner
    raise TypeError
    self.free_tasks
    self.busy_tasks
    self.current_tasks
