[report]
omit =
    */python?.?/*
    */site-packages/nose/*
    */test/*
    */pypy/*
    */nose/*
exclude_lines =
    pragma: no cover
    elif "darwin" in _sys.platform:
    return "mac"
    elif _sys.platform in ("win32", "cygwin"):
    return "windows"
    raise BrowserException(str(err))
